
@media (min-width: 767.98px) { 
    body {
        margin: 0px 20px 0px 20px;
    }
   
 }
 @media (max-width: 1199.98px) { 
     body {
         margin: 0px 20px 0px 20px;
     }
  }
  @media (max-width: 576px) {
    body {
       
        width: 100%;
        margin: 0px 0px 0px 0px;
        text-align: center;
    }
    .form-group {
        text-align: center;
    }
}
 body {
    background-image: url("https://img.freepik.com/free-vector/abstract-blue-wavy-business-style-background_1017-15229.jpg?size=626&ext=jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }
.img-responsive{
    width: 200px;
    height: 200px;
}
.img-fluid {
    max-width: 100%;
    margin: 0 auto;
    width: 260px;
    height: 200px;
}
footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: whitesmoke;
    color: goldenrod;
    text-align: center;
    font-size: 24px;
    height: 2.5rem; 
  }
#submit {
    background-color: gray;
}
.contactFoot{
    position:relative;
    bottom: 0;
    width: 100%;

}